Package: flask-app-deb
Version: 1.0-1
Architecture: amd64
Maintainer: Avijit Sen <avijit69@unknown>
Installed-Size: 10
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: This is a Flask application
 This is a Flask application
